body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    min-height: 85vh;
    overflow: hidden;
}
main {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
    background: black;
    width: 300px;
    height: 300px;
    border-radius: 40px ;
    border: 2px rgb(134, 134, 134) solid;
}
.calculator-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.numbers {
    display: flex;
    width: 105px;
    flex-wrap: wrap;
    gap: 5px;
}
.numbers button, .operator button {
    width: 30px;
    height: 30px;
    text-align: center;
    
}
.operator  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
.display input {
    width: 150px;
    height: 20px;
    border: 2px solid rgb(134, 134, 134);
    border-radius: 10px;
    width: 200px;
    height: 35px;
    outline: none;
    background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    text-align: end;
}
.buttonPanel {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
#dot {
    margin-left: 35px;
}
input::placeholder {
    margin-left: 5px;
    font-size: 15px;
    color: lightgreen;
}
input {
    color: lightgreen;
}